#nav-container{
    display: flex;    
    height: 35px;
    justify-content: space-between;       
    background-color: @gr3;
    
    form  {    
        width: 300%;
        margin-left: 300px;
        margin-top: 3px;
    }

    input[type="text"] {
        width: 12%;
        margin-left:250px;
    }
    
}